# Virtual environment
.venv

# Node modules
node_modules

# Django dev database
db.sqlite3

# VSCode & JetBrains settings
.vscode
.idea

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python cache
__pycache__/

# VueJS dist
dist

# Development media files
media

# MkDocs documentation
site/
config.toml
