{% block subject %}
Активация аккаунта на сайте Afishka
{% endblock subject %}

{% block text_body %}
Вы получили это письмо, потому что вам нужно завершить процесс активации учетной записи Diary56x.

Пожалуйста, перейдите на следующую страницу, чтобы активировать учетную запись:
{{ protocol }}://{{ domain }}/{{ url|safe }}

Спасибо за использование нашего сайта!

Команда сайта Afishka
{% endblock text_body %}

{% block html_body %}
<style>
  .text-center {
      text-align: center;
  }
</style>


<p>Вы получили это письмо, потому что вам нужно завершить процесс активации учетной записи Afishka.</p>

<p>
  Пожалуйста, перейдите на следующую страницу,
  чтобы активировать учетную запись:
</p>
<p>
  <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">
      {{ protocol }}://{{ domain }}/{{ url|safe }}
  </a>
</p>

<p>Спасибо за использование нашего сайта!</p>
<p>Команда сайта Afishka</p>

{% endblock html_body %}